@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Oi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  /* Greens */
  --color-green04: #cde0b4;
  --color-green05: #a0c776;
  --color-green06: #33481e;
  --color-green09: #121713;

  --color-green00: #465949;
  --color-green01: #394739;

  /* Magenta */
  --color-magenta: #7a0037;
  --color-orange00: #cf5c36;

  /* Off-white */
  --color-offWhite: #fcf9f4;
  --color-resin00: #e6e1c5;
  --color-resin01: #dad3a9;

  /* Fonts */
  --font-font01: "Anton SC";
  --font-font02: "Oi";
  --font-font03: "Inter";

  /* Breakpoints */
  --breakpoint-xs: 480px;
}

/* Different text shadows to enhance the Oi font */

.logoShadow {
  text-shadow: 1px 2px 0px #877c3a;
}
.logoShadow:hover {
  text-shadow: 1px 2px 0px #3e1a0f;
}

.cat_title_shadow {
  text-shadow: 2px 4px 0px #394739;
}

.cartShadow {
  text-shadow: 1px 2px 0px #877c3a;
}

/* Parallax set up for the Home section */

.parallax-container {
  position: relative;
  height: 100vh;
  padding-bottom: 96px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax-background {
  text-shadow: 8px 24px 0px #394739;

  position: absolute;

  pointer-events: none;
  user-select: none;
  z-index: 0;
}

.parallax-foreground {
  position: relative;
  top: 30%;
  left: 25%;
  z-index: 3;
  transition: transform 0.1s ease-out;
}

.parallax-foreground img {
  max-width: 50%;
  height: auto;
}
.hamburger {
  display: block;
  cursor: pointer;
  width: 24px;
  height: 32px;
  transition: all 0.2s;
  position: relative;
  outline: none;
  background: none;
  border: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 32px;
  height: 2.5px;
  top: 8px;
  left: 0;
  background: #e6e1c5;
  transform: rotate(0);
  transition: all 0.2s ease;
  border-radius: 4px;
}

.hamburger:hover .hamburger-top,
.hamburger:hover .hamburger-middle,
.hamburger:hover .hamburger-bottom {
  background: #cf5c36;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.hamburger.open {
  transform: rotate(90deg);
}

.hamburger.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.hamburger.open .hamburger-middle {
  display: none;
}

.hamburger.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

@layer components {
  .cartIndicator {
    @apply flex w-[24px] h-[24px] rounded-full bg-orange00  items-center justify-center text-[16px] text-resin00 font-font01;
  }
}
@tailwind utilities;
